@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

* {
  font-family: "Inconsolata", monospace;
}

body {
  background: linear-gradient(90deg, #2c128e 0%, #b31111 100%);
  font-size: large;
  font-weight: 800;
  text-align: justify;
  color: aliceblue;
}

a {
  color: #000000;
  font-size: xx-large;
  font-style: oblique;
}

h2,
h3 {
  color: #6ce228;
  font-weight: bolder;
  font-style: oblique;
  font-size: 30px;
  text-decoration: underline;
}

nav {
  background-color: linear-gradient(90deg, #2c128e 0%, #b31111 100%);
  border-radius: 65px;
  padding: 5px;
}
main {
  background-color: linear-gradient(90deg, #2c128e 0%, #b31111 100%);
  padding: 20px;
  border-radius: 0px 0px 100px 100px;
  border: 6px dotted rgba(66, 199, 25, 0.712);
}

nav ul {
  list-style: decimal-leading-zero;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: underline;
  font-size: 30px;
}

#photography .photography-container {
  border: 2px dotted #000000;
  padding: 0px;
  display: inline-flex;
}

#photography img {
  border: 5px dotted #3cff0093;
  border-radius: 30px;
  object-fit: cover;
  max-width: 350px;
  max-height: 150px;
}

#photography figcaption {
  color: aliceblue;
  font-style: normal;
  font-size: x-small;
}

footer {
  padding-top: 30px;
  bottom: 0;
  left: 0;
  width: 40%;
  background-color: transparent;
  color: aliceblue;
  font-size: 25px;
  text-align: center;
  animation: scroll 20s linear infinite;
}

.title-1 {
  padding: 20px 50px;
  font-size: 50px;
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
  text-decoration: underline;
  color: black;
}

.box-1 {
  display: grid;
  font-size: 20px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: aliceblue;
}
.box-2 {
  display: grid;
  font-size: 20px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: aliceblue;
}
.box-3 {
  display: grid;
  font-size: 20px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: aliceblue;
}
.box-4 {
  display: grid;
  font-size: 20px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: aliceblue;
}
.box-5 {
  display: grid;
  font-size: 20px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: aliceblue;
}

.box-6 {
  display: grid;
  font-size: 20px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: aliceblue;
}
.box-7 {
  display: grid;
  font-size: 20px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: aliceblue;
}
@keyframes scroll {
  20% {
    transform: translateX(100%);
  }

  140% {
    transform: translateX(-100%);
  }
}

.heading {
  color: #000000;
  text-align: center;
  text-shadow: -14px 5px 23px #00ff32;
  font-size: 70px;
  text-decoration: underline rgba(0, 0, 0, 0.637);
  text-transform: uppercase;
  animation: fadeinout 7s linear infinite;
}

@keyframes fadeinout {
  100% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}
