body {
  background: linear-gradient(90deg, #2c128e 0%, #b31111 100%);
}

a {
  color: #000000;
  font-size: xx-large;
  font-style: oblique;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2,
h3 {
  color: #6ce228;
  font-weight: bolder;
  font-style: oblique;
  font-size: 30px;
  text-decoration: underline;
}

/* Use a dark theme for the website */
body {
  color: rgb(189, 164, 164);
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: large;
  font-weight: 800;
  text-align: justify;
}

nav {
  background-color: linear-gradient(90deg, #2c128e 0%, #b31111 100%);
  border-radius: 65px;
  padding: 5px;
  border: 6px dotted rgb(0, 0, 0);
  

}
main {
  background-color: linear-gradient(90deg, #2c128e 0%, #b31111 100%);
  padding: 20px;
  border-radius: 0px 0px 100px 100px;
  border: 6px dotted rgb(0, 0, 0);

  
}

/* Add some style to the navigation links */
nav ul {
  list-style: decimal-leading-zero;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: underline;
  font-size: 30px;
}

#photography .photography-container {
  border: 2px dotted #000000;
  padding: 0px;
  display: inline-flex;
}

#photography img {
  border: 5px dotted #c46e0c;
  border-radius: 30px;
  object-fit: cover;
  max-width: 350px;
  max-height: 150px;

}

#photography figcaption {
  color: #00ff00;
  font-style: normal;
  font-size: x-small;
}

footer {
  padding-top: 30px;
  bottom: 0;
  left: 0;
  width: 40%;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-align: center;
  animation: scroll 20s linear infinite;
}

/* Create a CSS animation to scroll the footer from right to left */
@keyframes scroll {
  20% {
    transform: translateX(100%);
  }

  140% {
    transform: translateX(-100%);
  }
}

.heading {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  text-shadow: -14px 5px 23px #00FF32;
  font-size: 70px;
  text-decoration: overline dotted rgba(31, 255, 0, 0.58);
  text-transform: capitalize;
  animation: fadeinout 3s linear infinite;
}

@keyframes fadeinout {
  100% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}
