body {
  background: linear-gradient(90deg, #2600b1 0%, #b31111 100%);
  text-align:center;
}


.title-1 {
  padding: 20px 50px;
  font-size: 50px;
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
  text-decoration: underline;
  color: black;
}


.box-1 {
  display: grid;
  font-size: 30px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  font-weight: lighter;
  color: aliceblue;
}
.box-1 h2{
  text-decoration: underline;
  text-decoration-color: black;
  color: rgba(255, 238, 0, 0.836);
}

.box-2 {
  display: grid;
  font-size: 30px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  font-weight: lighter;
  color: aliceblue;
}
.box-2 h2{
  text-decoration: underline;
  text-decoration-color: black;
  color: rgba(94, 255, 0, 0.637);
}
.box-3 {
  display: grid;
  font-size: 30px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  font-weight: lighter;
  color: aliceblue;
}
.box-3 h2{
  text-decoration: underline;
  text-decoration-color: black;
  color: rgba(255, 238, 0, 0.836);
}
.box-4 {
  display: grid;
  font-size: 30px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  font-weight: lighter;
  color: aliceblue;
}
.box-4 h2{
  text-decoration: underline;
  text-decoration-color: black;
  color: rgba(94, 255, 0, 0.637);
}
.box-5 {
  display: grid;
  font-size: 30px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  font-weight: lighter;
  color: aliceblue;
}
.box-5 h2{
  text-decoration: underline;
  text-decoration-color: black;
  color: rgba(255, 238, 0, 0.836);
}

.box-6 {
  display: grid;
  font-size: 30px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  font-weight: lighter;
  color: aliceblue;
}
.box-6 h2{
  text-decoration: underline;
  text-decoration-color: black;
  color: rgba(94, 255, 0, 0.637);
}
.box-7 {
  display:grid;
  font-size: 30px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  font-weight: lighter;
  color: aliceblue;
}
.box-7 h2{
  text-decoration: underline;
  text-decoration-color: black;
  color: rgba(255, 238, 0, 0.836);
}
.box-8 {
  display:grid;
  font-size: 30px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  font-weight: lighter;
  color: aliceblue;
}
.box-8 h2{
  text-decoration: underline;
  text-decoration-color: black;
  color: rgba(94, 255, 0, 0.637);
}
.box-9 {
  display:grid;
  font-size: 30px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  font-weight: lighter;
  color: aliceblue;
}
.box-9 h2{
  text-decoration: underline;
  text-decoration-color: black;
  color: rgba(255, 238, 0, 0.836);
}
.box-10 {
  display:grid;
  font-size: 30px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  font-weight: lighter;
  color: aliceblue;
}
.box-10 h2{
  text-decoration: underline;
  text-decoration-color: black;
  color: rgba(94, 255, 0, 0.637);
}
footer {
font-size: xx-large;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;

}